body {
    background-color: #363636
}

.header {
    background-color: #ffffff
}

h1 {
    font: normal 34px/40px Ubuntu;
    color: #3c3c3c;
}

h2 {
    font: normal 34px/40px Ubuntu;
    color: #3c3c3c;
}

h3 {
    font: normal 34px/40px Ubuntu;
    color: #3c3c3c;
}

h4 {
    font: normal 15px/20px Ubuntu;
    color: #333333;
}

h5 {
    font: normal 15px/26px Ubuntu;
    color: #31c1e4;
}

h6 {
    font: normal 12px/18px Ubuntu;
    color: #333333;
}

body {
    font-weight: normal;
}

.logo_h__txt, .logo_link {
    font: normal 26px/26px Ubuntu;
    color: #3c3c3c;
}

.sf-menu > li > a {
    font: normal 15px/18px Ubuntu;
    color: #888888;
}

.nav.footer-nav a {
    font: normal 11px/23px Ubuntu;
    color: #999999;
}